/*Combine multiples*/
#buttons-wrapper, #buttons-wrapper>form{
     padding:10px;
     border:1px solid black;
    
}
#buttons-wrapper{
      background:orange;
}

/*Rename classes/ids for readability*/
#image-to-vote-on{
     margin-top: 50px;
}

/*Organize CSS 0 group by section, order by precedence (tag selectors at top, id selectors at bottom)*/
a{
     color:red;
}
a:hover{
     color:purple;
}
body{
     background-image:url(../images/anImage.png);
}
#container>img{
     border:1px solid red;
}
#container>.col{
     width:50%;
}
footer>#company-name{
     font-weight: bold;
}
footer{
     text-align: right;
}
header{
     height:80px;
}
header>ol{
     list-style: none;
}
.list-item{
     width:200px;
}
#navigation-wrapper{
     float:left;
}

/*Create classes for large css changes in JS
$("#container").css({background:"red",fontSize:"12px",color:"purple",boxShadow:"0 0 10px #ccc";})
*/

/* predefine a style that you will later apply in jQuery using .addClass
/* $("#container").addClass("styled-container"); */
.container-style{
     background:red;
     font-size:12px;
     color:purple;
     box-shadow:0 0 10px #ccc;    
}

/* OR addClass 'active' and style using selectors below */

div {
     background:gray;
}
div.active {
     background:green;
}

/*Remove unnecessary CSS */
#myDiv{
     margin:10px 0px 0px 20px;
}
div{
     width:100%;
}