body {
  background-color: green;
  margin: 200px 0px 0px 400px;
}
#cards > div {
  margin: 10px;
  width: 71px;
  height: 96px;
}
#cards .king {
  background-image: url('http://i.imgur.com/lJ4gB6g.png'); 
  }
#cards .queen {
  background-image: url('http://i.imgur.com/OEEZW91.png');
  }
#cards div.secret {
  background-image: url('http://i.imgur.com/D54nf44.png');
}