.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* boxing ---------------------------*/
#container {
	width: 100%;
	list-style-type: none;
}
header {
	border: 2px solid black;
	margin: 20px 0;
	box-sizing: border-box;
}
footer {
	border: 2px solid black;
	box-sizing: border-box;
}
ul li {
	border: 1px solid black;
	width: 40px;
	height: 20px;
	margin-right: 10px;
	float: left;
}
/*hidden*/
ul li:first-child {
	display: none;
}
.red {
	width: 100%;
	height: 40px;
	border: 1px solid black;
	background-color: red;
	margin-bottom: 20px;
	box-sizing: border-box;
}
.green {
	border: 1px solid black;
	background-color: green;
	margin: 1.2%;
	width: 30%;
	height: 40px;
	display: inline-block;
	box-sizing: border-box;
}
.blue {
	border: 0.1em solid black;
	background-color: blue;
	float:left;
	height: 40px;
	width: 30%;
	margin: 1.2%;
}

/*iPad - exists somewhere in between 768-1024px, depending on portrait/landscape 
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
 put rules here
}
*/

@media all and 
/* at least 320px wide */
(min-width:320px) and
/* and no wider than 720px */
(max-width:720px) { 

/* boxing-mobile --------------------*/
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#container {
	width: 100%;
	list-style-type: none;
}
header {
	border: 2px solid black;
	margin: 20px 0;
	width: 96%;
	box-sizing: border-box;
}

ul li {
	border: 1px solid black;
	width: 40px;
	height: 20px;
	margin-right: 10px;
	float: left;
}
/*this is hidden*/
ul li:first-child {
	display: block;
	background-color: yellow;
}
.line {
	border: 1px solid black;
	width: 40px;
	height: 10px;
	margin: 5px;
}
.red {
	border: 1px solid black;
	background-color: red;
	width: 96%;
	height: 40px;
	margin-bottom: 20px;
	box-sizing: border-box;
}
.green {
	border: 1px solid black;
	background-color: green;
	width: 96%;
	height: 40px;
	box-sizing: border-box;
}
footer {
	border: 2px solid purple;
	width: 96%;
	box-sizing: border-box;
}
.blue {
	border: 1px solid black;
	background-color: blue;
	width: 100%;
	height: 40px;
}
}
